<!--<div class="main-content">-->
<!--  <div class="product-box">-->
<div class="detail-section">
  <div class="container-fluid">
    <!--    <img src="{{product.imageUrl}}" class="img-responsive">-->
    <img src="{{product.imageUrl}}" class="detail-img">
    <div class = "product-details-side">
    <h3>{{product.name}}</h3>
    <h4>{{product.description}}</h4>
  </div>
  <div class="price"> {{product.unitPrice | currency: 'USD'}}</div>
  <button (click)="addToCart(product)" class="primary-btn">Add to cart</button>
</div>

<!--<hr>-->
<!--<h4>Description</h4>-->
<!--<p>{{product.description}}</p>-->

<a routerLink="/products" class="mt-5">Product List</a>
</div>

